In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"F:\Python_Files\Dataset_for_practices\Weather_Data.csv")

In [3]:
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1-1-2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1-1-2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1-1-2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1-1-2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1-1-2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [5]:
# Converting the datatype of date/Time(object) to datetime datatype

df['Date/Time'] = pd.to_datetime(df['Date/Time'])

In [6]:
# Checking datatypes

df.dtypes

Date/Time           datetime64[ns]
Temp_C                     float64
Dew Point Temp_C           float64
Rel Hum_%                    int64
Wind Speed_km/h              int64
Visibility_km              float64
Press_kPa                  float64
Weather                     object
dtype: object

In [7]:
# Adding a column year

df['Year'] = df['Date/Time'].dt.year

In [8]:
df.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,Year
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,2012
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,2012

In [9]:
# Inserting a column "Month" in the first index

df.insert(1,'Month',df['Date/Time'].dt.month)

In [10]:
df.head(2)

,Date/Time,Month,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,Year
0,2012-01-01 00:00:00,1,-1.8,-3.9,86,4,8.0,101.24,Fog,2012
1,2012-01-01 01:00:00,1,-1.8,-3.7,87,4,8.0,101.24,Fog,2012

In [11]:
# Inserting a column "Day" in the first index

df.insert(1,'Day',df['Date/Time'].dt.day)

In [12]:
df.head(2)

,Date/Time,Day,Month,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather,Year
0,2012-01-01 00:00:00,1,1,-1.8,-3.9,86,4,8.0,101.24,Fog,2012
1,2012-01-01 01:00:00,1,1,-1.8,-3.7,87,4,8.0,101.24,Fog,2012

In [14]:
# Inserting the Year column which is at last to 3rd index

df.insert(3,'Year',df.pop('Year'))

In [15]:
df.head(2)

,Date/Time,Day,Month,Year,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,2012-01-01 00:00:00,1,1,2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,1,1,2012,-1.8,-3.7,87,4,8.0,101.24,Fog

## 1. What is the average temperature for each month in the dataset?

In [39]:
df.groupby(['Month'])['Temp_C'].mean()

# This will filter out the the data which we are required

Month
1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
Name: Temp_C, dtype: float64

### 1.1 Which month had the highest average temperature

In [157]:
df.groupby(['Month'])['Temp_C'].mean().sort_values(ascending = False)

# df.groupby(['Month'])['Temp_C'].mean().sort_values(ascending = False).head(1) to see only first value

Month
7     22.790054
8     22.279301
6     20.134028
9     16.484444
5     16.237769
10    10.954973
4      7.009306
3      3.121237
11     0.931389
12    -3.306317
2     -4.225000
1     -7.371505
Name: Temp_C, dtype: float64

## 2. What is the average Temperature for the entire year ?

In [32]:
df.groupby('Year').mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_6464\1112703792.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()

,Day,Month,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Year,,,,,,,,
2012,15.756831,6.513661,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623

In [37]:
df.groupby(['Year'])['Temp_C'].mean()

Year
2012    8.798144
Name: Temp_C, dtype: float64

## 3. What is the highest temperature ever recorded in the datasets ?

In [44]:
# df.head(2)

Highest_Temp = df.Temp_C.max()
print("Highest_Temp: ", Highest_Temp)

Highest_Temp:  33.0

## 3. What is the lowest temperature ever recorded in the datasets ?

In [45]:
Lowest_Temp = df.Temp_C.min()
print("Lowest_Temp: ", Lowest_Temp)

Lowest_Temp:  -23.3

## 4.How many days it rains in each month ?

In [65]:
rainy_days = df[df.Weather =='Rain'].groupby('Month')['Day'].count()
rainy_days
# This shows the data of full day rain

Month
1     10
2     21
3     18
4     55
5     26
6     53
7      6
8      9
9     25
10    32
11    31
12    20
Name: Day, dtype: int64

### 4.1. What is the percentage of rainy days in each month ?

In [185]:
# % of rain = (rainy days in month/Total days in month) * 100

total_days = df.groupby('Month')['Day'].nunique()
total_days

Month
1     31
2     29
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
Name: Day, dtype: int64

In [188]:
perc_of_rainy_days = (rainy_days/total_days)*100
perc_of_rainy_days.round(1)

Month
1      32.3
2      72.4
3      58.1
4     183.3
5      83.9
6     176.7
7      19.4
8      29.0
9      83.3
10    103.2
11    103.3
12     64.5
Name: Day, dtype: float64

In [64]:
# df.head(2)
# df.Weather.unique()

rainy_days = df[df.Weather.str.contains('Rain')].groupby('Month')['Day'].count()
rainy_days

# This shows data of rains occuring on that day irrespective of full day rain

Month
1     29
2     32
3     46
4     94
5     77
6     77
7     27
8     42
9     57
10    87
11    49
12    72
Name: Day, dtype: int64

## 5. What is the average wind speed in each month ?

In [79]:
df.head(2)
df.groupby('Month')['Wind Speed_km/h'].mean().round(2)

Month
1     18.11
2     14.84
3     14.51
4     17.37
5     12.85
6     14.68
7     11.89
8     13.93
9     14.11
10    15.48
11    13.97
12    17.61
Name: Wind Speed_km/h, dtype: float64

## 6. How many days have temperature above than 32C ?

In [101]:
# df.head(50)

df[df['Temp_C'] > 32]

# df[df['Temp_C'] > 32].shape to find number of rows or count of Days

,Date/Time,Day,Month,Year,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
4119,2012-06-20 15:00:00,20,6,2012,32.2,19.6,47,22,24.1,100.75,Mainly Clear
4120,2012-06-20 16:00:00,20,6,2012,32.2,20.0,49,26,24.1,100.74,Mainly Clear
4121,2012-06-20 17:00:00,20,6,2012,32.3,20.3,49,15,24.1,100.69,Mainly Clear
4122,2012-06-20 18:00:00,20,6,2012,32.4,19.9,48,17,24.1,100.61,Mostly Cloudy
4142,2012-06-21 14:00:00,21,6,2012,32.6,20.4,49,20,24.1,100.25,Mainly Clear
4143,2012-06-21 15:00:00,21,6,2012,33.0,19.0,44,24,24.1,100.20,Mainly Clear
4144,2012-06-21 16:00:00,21,6,2012,32.5,17.9,42,24,24.1,100.14,Mainly Clear
4145,2012-06-21 17:00:00,21,6,2012,32.1,17.9,43,30,24.1,100.09,Mainly Clear
4670,2012-07-13 14:00:00,13,7,2012,32.1,10.2,26,20,48.3,101.49,Mainly Clear
4694,2012-07-14 14:00:00,14,7,2012,32.7,15.3,35,28,48.3,101.35,Mainly Clear
4695,2012-07-14 15:00:00,14,7,2012,33.0,16.8,38,22,48.3,101.31,Mainly Clear
4696,2012-07-14 16:00:00,14,7,2012,32.9,15.3,35,24,48.3,101.26,Mainly Clear
4697,2012-07-14 17:00:00,14,7,2012,32.5,16.5,38,19,48.3,101.22,Mainly Clear
5199,2012-08-04 15:00:00,4,8,2012,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,4,8,2012,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,4,8,2012,32.5,19.8,47,13,24.1,101.32,Clear
5202,2012-08-04 18:00:00,4,8,2012,32.2,20.1,49,13,24.1,101.29,Mostly Cloudy

## 7. Whats is the avarage temperature on weekends vs weekdays ?

In [111]:
# df.head(2)
# Need to insert a column name 'Day_Name'

df.insert(2,'Day_Name', df['Date/Time'].dt.day_name())

In [114]:
# df.head()
# Showing average temperature of each days

df.groupby('Day_Name')['Temp_C'].mean().round(1)

Day_Name
Friday       9.4
Monday       8.9
Saturday     8.4
Sunday       7.9
Thursday     9.5
Tuesday      8.9
Wednesday    8.8
Name: Temp_C, dtype: float64

In [138]:
# df.head(2)
# Filtering out Weekday and Weekend

day_type = lambda Day_Name: 'Weekend' if Day_Name in ['Saturday', 'Sunday'] else 'Weekday'

# Inserting a new column with Weekday & Weekend

df['Day_Type'] = df['Day_Name'].apply(day_type)

In [145]:
# df.head(2)

df.groupby('Day_Type')['Temp_C'].mean().round(1)

Day_Type
Weekday    9.1
Weekend    8.1
Name: Temp_C, dtype: float64

## 8. At what time it rains the most ?

In [189]:
# Inserting Time column

df['Time'] = df['Date/Time'].dt.time
df.insert(5,'Time', df.pop('Time'))
df.head()

In [201]:
df[df['Weather'] == 'Rain'].groupby('Time')['Weather'].count().sort_values(ascending=False)

Time
19:00:00    22
04:00:00    16
21:00:00    16
20:00:00    16
05:00:00    15
00:00:00    14
16:00:00    14
18:00:00    14
17:00:00    14
02:00:00    13
07:00:00    13
08:00:00    13
22:00:00    12
23:00:00    12
06:00:00    12
15:00:00    11
13:00:00    11
01:00:00    11
03:00:00    11
11:00:00    10
09:00:00    10
14:00:00     9
12:00:00     9
10:00:00     8
Name: Weather, dtype: int64

## 9. What is the percentage of full rainy day on  Weekends vs Weekdays

In [212]:
df[df['Weather'] == 'Rain'].groupby('Day_Type')['Weather'].count()

Req_Per = round((71/235)*100,1)
print(str(Req_Per)+'%')

30.2%